/* Filters */
.category-list li {
  list-style: none;
}

.category-list li:not(:last-child) {
  margin-bottom: 0.2rem;
}

.category-list li button {
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.category-list li button:hover {
  background-color: var(--color-button-tag-primary);
  border-radius: 10px;
}

.category-list li button.selected {
  background-color: var(--color-button-tag-secondary);
  border-radius: 10px;
}

.brands > label {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.brands ul {
  margin-top: 10px;
}

.brands ul li:not(:last-child) {
  margin-bottom: 1rem;
}

.brands ul li label {
  font-size: 1rem;
  font-weight: 400;
}

/* Product List */
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.product-card {
  background-color: var(--color-white);
  border-radius: 27px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.product-card img {
  width: 100%;
  object-fit: contain;
}

.product-card > h3 {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-button-tag-secondary);
}

.product-card > p:not(.price, .card-category) {
  display: -webkit-box;
  font-size: 1rem;
  font-weight: 600;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card .price {
  font-size: 1.3rem;
  font-weight: 400;
}

.product-card .card-category {
  background-color: var(--color-button-tag-primary);
  color: var(--color-chip-text);
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: capitalize;
  width: fit-content;
  border-radius: 20px;
}

.product-card > button {
  margin-top: 1rem;
  color: var(--color-black);
  border-radius: 25px;
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: 28px;
}

.product-card > button:hover {
  background-color: var(--color-secondary-hard);
  border: 1px solid var(--color-secondary-hard);
}

@media screen and (max-width: 768px) {
  .filter-mobile {
    display: initial;
  }

  .filter-mobile button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    margin-left: auto;
  }
}
